extends layout 

block content 
  div 
    p Delete form for #{product.name}
    p Are you sure you want to delete this product?

    form(method='POST' action='')
        div.form
            input(
                type='hidden'
                name='productid'
                required=true 
                value=product._id
            )
        button.btn(type='submit') Delete