extends layout 

block content 
  div 

    p #{product.name}: #{product.description}
    p Seller: 
      a(href=product.seller.url) #{product.seller.name}
    p Quantity: #{product.quantity}x
    p Catalogs: 
    ul 
      each catalog in product.catalog
        li 
          a(href=catalog.url) #{catalog.name}