extends layout 

block content 
  div 

    p #{seller.name}: #{seller.description}
    p Established: #{seller.established ? seller.established_formatted : ""}
    a(href='/inventory/seller/' + seller._id + '/delete') Delete seller
    p List of items from this seller: 
    ul 
      each product in products 
        li 
          div 
            a(href=product.url) #{product.name}